<%- include('includes/head') %>
    <%- include('includes/nav'); %>
        <div class="container-fluid min-vh-100">
            <div class="row justify-content-center">
                <div class="col-3 mt-5 pb-3 border rounded p-4" style="background-color: rgb(247, 247, 247);">
                    <div>
                        <h1 class="text-center">Registrar-se</h1>
                        <p class="text-center lead">Se você ainda não possui uma conta, cadastre-se abaixo:</p>
                        <%- include('includes/messages'); %>
                            <form class="login-form-validation" action="/register" method="post">
                                <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                                <div class="mb-3">
                                    <label for="username" class="form-label">Usuário</label>
                                    <input type="text" class="form-control" name="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input type="email" class="form-control" name="email" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Senha</label>
                                    <input type="password" class="form-control" name="password" required>
                                </div>
                                <div class="text-center mt-2">
                                    <button type="submit" class="btn btn-primary">Registrar-se</button>
                                </div>
                            </form>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <p>Já possui uma conta? <a href="/login" class="text-primary text-decoration-none">Faça
                            login</a></p>
                </div>
            </div>
        </div>

        <%- include('includes/footer') %>